// src/app/components/hero/hero.component.scss
.text-shadow {
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.hover-scale {
  transition: all 0.4s ease;
}
.hover-scale:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 25px 50px -12px rgba(250, 204, 21, 0.5) !important;
}

.hover-bg-white {
  transition: all 0.3s ease;
}
.hover-bg-white:hover {
  background-color: white !important;
  color: #1148ffb6 !important;
}